<section class="antialiased text-gray-600">
    <div class="flex flex-col my-20">
<table class="">
    <thead class="bg-gray-50">
        <tr>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Id
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                City Name
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Actions
            </th>
        </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
        <tr *ngFor="let city of Cities">
            <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">{{city.id}}</div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                {{city.cityName}}
            </td>
            <td class="px-6 py-4 whitespace-nowrap  text-sm font-medium">
                <a (click)="handleEdit(city.id)" class="text-indigo-600 hover:text-indigo-900">Edit</a>
                <a (click)="handleDelete(city.id)" class="ml-2 text-red-600 hover:text-red-900">Delete</a>
            </td>
        </tr>



    </tbody>
</table>
    </div>
</section>
